.formula {
    padding: 5px;
}

input.textLeaf {
    padding: 0;
}

.textLeaf.empty,
.textLeaf.active {
    border: 1px #000000 dashed;
}

.textLeaf.empty {
    width: 10px;
}

.fraction,
.function,
.function .text,
.function .bracket,
.function .argument,
.expression input {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
    position: relative;
}

.numerator {
    border-bottom: #000000 solid 1px;
}
.numerator,
.denominator {
    text-align: center;
}

.numerator > input,
.numerator > div {
    margin-bottom: 3px;
}
.denominator > input,
.denominator > div {
    margin-top: 3px;
}

svg .bracket-line {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

.function .bracket {
    margin: 0;
}